
.gridcon{
    display: grid;
    /*grid-template-rows: /*20% 50% 20% 10%*/
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.header{
    padding: 10px 10px;
    background-color: rgb(219, 0, 0);
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
}

main{
    background-color: rgb(206, 129, 28);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 10px 10px;
}

.kotolist{
    padding: 10px 10px;
    background-color: blueviolet;
    grid-row-start: 2;
    grid-row-end: 5;
}
footer{
    background-color: rgb(67, 233, 233);
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 10px 10px;
}

